@import "../../../styles/variables";


.line:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 290px;
  background: $primary;
  border-radius: 50%;
  top: 50px;
  left: 15px;
}

.info {
 text-align: right;
}

.info svg:hover {
    cursor: pointer;
   
}
