# SPDX-FileCopyrightText: © 2022 Dai Foundation <www.daifoundation.org>
#
# SPDX-License-Identifier: Apache-2.0

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env

npm-debug.log*

.pnp.*
.yarn/*
!.yarn/plugins
!.yarn/versions
!.yarn/releases
