/*
 * SPDX-FileCopyrightText: © 2022 Dai Foundation <www.daifoundation.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "../../styles/variables";

.timeSwitchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.timeSwitch {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.timeSwitchItem {
  padding: 0.5rem;
  cursor: pointer;
  border-right: solid 1px $border-color;
  font-size: 0.9rem;

  &:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: $primary;
  }
}

.timeSwitchItemActive {
  color: $primary;
}

.timeSwitchLabel {
  font-size: 0.9rem;
  padding-right: 0.5rem;
}
