/*
 * SPDX-FileCopyrightText: © 2022 Dai Foundation <www.daifoundation.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.navbarBrand,
.navbarBrand img {
  height: 40px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbarBrand {
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}

.logo {
  margin-right: 1rem;
}

.footerLogo {
  height: 20px;
  margin-right: 10px;
}