/*
 * SPDX-FileCopyrightText: © 2022 Dai Foundation <www.daifoundation.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.icon {
    color: #51b4c5;
    margin-left: 0.3em;
  }

.icon:hover {
    color: #85d1de,
}
  