/*
 * SPDX-FileCopyrightText: © 2022 Dai Foundation <www.daifoundation.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "../../../styles/variables";

.sectionWrapper {
  display: flex;
}

.section {
  border-right: solid 1px $border-color;
  width: 33%;
  padding-left: 1rem;

  &:last-child {
    border: none;
  }

  &:first-child {
    padding-left: 0;
  }
}

.sectionTitle {
  font-size: $small-text;
  color: rgba(246, 247, 248, 0.6);
}

.valueBig {
  font-size: $big-text;
}

.darkerColor {
  font-size: 0.8rem;
  color: rgba(246, 247, 248, 0.6);
}
