/*
 * SPDX-FileCopyrightText: © 2022 Dai Foundation <www.daifoundation.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.title {
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.title  h3 {
    padding-left: 2rem;
}