/*
 * SPDX-FileCopyrightText: © 2022 Dai Foundation <www.daifoundation.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "../../styles/variables";

.smallText {
  font-size: 0.8rem;
  color: rgba(246, 247, 248, 0.6);
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  text-decoration: none;
  color: #fff;
}

.boxHeader {
  justify-content: space-between;
  background-color: $less-dark;
}

.boxContent {
  background-color: $less-dark;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  border: 1px solid #0e1726;
  padding: 1rem;
}

.boxTitle {
  display: flex;
  padding-left: 1rem;
  padding-top: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.boxTitle h3 {
  padding-left: 2rem;
}

.collateralIcon {
  margin-top: 1rem;
  margin-right: 1rem;
}
